@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Lora', serif; */
  font-family: 'Signika Negative', sans-serif;
}

.navbar-brand img {
  height: 90px;
}

.txt-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

header.main-header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.story-1 {
  position: relative;
  background-image: url('../img/inquire-hero.jpg');
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.story-2 {
  position: relative;
  background-image: url('../img/fees.jpg');
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.story-3 {
  position: relative;
  background-image: url('../img/stories.jpg');
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.story {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.45);
  padding: 10px;
}

.story a {
  font-size: 20px;
  font-weight: bold;
}

.bg-grey {
  background: #ebebec;
}

.bg-yellow {
  background: #F3A624;
}

.c-list {
  color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
  font-style: italic;
  font-family: Mirador,sans-serif;
  font-weight: bold;
}

.c-list span {
  font-family: Mirador,sans-serif;
}

header.apply-header,
header.fees-header,
header.inquire-header {
  background: #263895;
}

nav {
  font-size: 20px;
}

.nav-link {
  color: #FFFFFF;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: Mirador,sans-serif;
}

.header-arrow {
  position: relative;
  height: 300px;
}

.scroll {
  background-color: #F3A624;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 15px 16px;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}

.tag-line {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #263895;
  font-family: Mirador,sans-serif;
}

.h1 {
  /* font-family: 'Nunito Sans'; */
  font-family: Mirador,sans-serif;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 0.6px;
  color: #002744;
}

.h1 span {
  /* font-family: 'Nunito Sans'; */
  font-family: Mirador,sans-serif;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 0.6px;
}

.h2 {
  /* font-family: 'Nunito Sans'; */
  font-family: Mirador,sans-serif;
  font-weight: 800;
  font-size: 35px;
  color: #002744;
}

h5 {
  /* font-family: 'Nunito Sans'; */
  font-family: Mirador,sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #002744;
}

.cta-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #F3A624;
  padding: 12px 35px;
  border-radius: 30px;
  font-size: 18px;
  font-family: Mirador,sans-serif;
  font-weight: bold;
}

.p-top {
  font-size: 27px;
  line-height: 41px;
  color: #263895;
  font-weight: bold;
}

.p-bot {
  font-size: 27px;
  line-height: 41px;
  color: #0B2742;
}

.txt-italics {
  font-style: italic;
}

.desc {
  font-weight: 400;
  font-size: 27px;
  line-height: 41px;
}

.desc a {
  color: #002744;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 100px 0;
}

.img-1 {
  background-image: url('../img/intro.jpg');
  background-position: center;
  background-size: cover;
  width: 530px;
  height: 578px;
  border: 15px solid #FFFFFF;
  border-radius: 0px 275px 275px 0px;
  margin-top: 50px;
}

/* .img-2 {
  background-image: url('../img/stories.jpg');
  background-position: center;
  background-size: cover;
  width: 530px;
  height: 578px;
  border: 15px solid #FFFFFF;
  border-radius: 275px 0px 0px 275px;
} */

.qoute {
  display: flex;
  gap: 30px;
  align-items: start;
}

.qoute div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review {
  font-size: 25px;
  line-height: 50px;
  color: #263895;
}

.name {
  font-weight: 700;
  font-size: 15px;
  color: #002744;
}

.title {
  font-weight: 400;
  font-size: 15px;
  color: #002744;
}

.key-links, .aside {
  background: #EBEBEC;
}

.links {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.key-links .links a  {
  font-size: 22px;
  color: #263895;
  text-decoration: none;
  font-family: 'Nunito Sans';
}

footer {
  background: #263895;
  color: #FFFFFF;
}

.footer-logo img {
  width: 300px;
}

.text-yellow {
  color: #F3A624;
}

#background-yellow {
  background: #F3A624;
}

.show-links {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.show-links a {
  color: #263895;
  background: #EBEBEC;
  padding: 10px 40px;
  border-radius: 30px;
  text-decoration: none;
  /* font-family: 'Nunito Sans'; */
  font-family: Mirador,sans-serif;
  font-weight: bold;
}

.bottom {
  display: flex;
  gap: 50px;
  font-size: 20px;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 30px;
}

.socials img {
  height: 25px;
}

/* .intro-bg {
  background-image: url('../img/yellow-square.png');
  background-repeat: no-repeat;
  background-position: left bottom;
} */

/* .stories-bg {
  background-image: url('../img/blue-square.png');
  background-repeat: no-repeat;
  background-position: right top;
} */



.aside {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  gap: 40px;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-nav a {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: Mirador,sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #263895;
  font-weight: bold;
}

.aside-nav a.active {
  color: #F3A624;
}

h3 {
  font-weight: 700;
  color: #002744;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: Mirador,sans-serif;
  font-size: 26px;
}

.main-content {
  /* display: flex;
  flex-direction: column; */
  padding: 50px 90px;
  /* gap: 40px; */
}

.main-content h1 {
  color: #263895;
}

.crumb-bread {
  display: flex;
  align-items: center;
  gap: 15px;
}

.crumb-bread a {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  color: #002744;
}

.crumb-bread span {
  font-weight: 400;
}

.main-content ul {
  font-size: 27px;
}

.main-content ul li {
  line-height: 41px;
}

table {
  font-size: 20px;
}

.divider {
  height: 6px;
  width: 160px;
  background: #F3A624;
}

.btn-color {
  background: #263895;
  color: #FFFFFF;
}

label {
  font-size: 20px;
  color: #002744;
}

/* .navbar-toggler {
  background: white;
} */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-color: transparent;
  border: none;
}

.accordion,
.accordion-button {
  font-size: 27px;
}

.accordion-button {
  font-weight: 800;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  .stories-bg {
    background-position: right bottom;
  }
}

@media screen and (max-width: 576px) {
  .img-1,
  .img-2 {
    width: 395px;
    height: 430.77px;
  }

  .bottom {
    flex-direction: column;
  }

  .main-content {
    padding: 50px 20px;
  }

  .h1 {
    font-size: 40px;
    line-height: 54px;
  }

  .p-top, .p-bot, .desc {
    font-size: 20px;
  }
}