@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Nunito+Sans:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

.navbar-brand img {
  height: 90px;
}

header.main-header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header.inquire-header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../img/inquire-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header.apply-header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../img/intro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header.fees-header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../img/fees.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
  font-size: 20px;
}

.nav-link {
  color: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
}

.header-arrow {
  position: relative;
  height: 500px;
}

.scroll {
  background-color: #F3A624;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 15px 16px;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}

.tag-line {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.4px;
  color: #263895;
}

.h1 {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 0.6px;
  color: #002744;
}

.h2 {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 35px;
  color: #002744;
}

h5 {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 18px;
  color: #002744;
}

.p-top {
  font-size: 20px;
  line-height: 30px;
  color: #002744;
  font-weight: 700;
}

.p-bot {
  font-size: 20px;
  line-height: 30px;
  color: #0B2742;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

.desc a {
  color: #002744;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 0;
}

.img-1 {
  background-image: url('../img/intro.jpg');
  background-position: center;
  background-size: cover;
  width: 530px;
  height: 578px;
  border: 15px solid #FFFFFF;
  border-radius: 0px 275px 275px 0px;
}

.img-2 {
  background-image: url('../img/stories.jpg');
  background-position: center;
  background-size: cover;
  width: 530px;
  height: 578px;
  border: 15px solid #FFFFFF;
  border-radius: 275px 0px 0px 275px;
}

.qoute {
  display: flex;
  gap: 30px;
  align-items: start;
}

.qoute div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review {
  font-size: 25px;
  line-height: 50px;
  color: #263895;
}

.name {
  font-weight: 700;
  font-size: 15px;
  color: #002744;
}

.title {
  font-weight: 400;
  font-size: 15px;
  color: #002744;
}

.key-links, .aside {
  background: #EBEBEC;
}

.links {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.key-links .links a  {
  font-size: 22px;
  color: #263895;
  text-decoration: none;
  font-family: 'Nunito Sans';
}

footer {
  background: #263895;
  color: #FFFFFF;
}

.footer-logo img {
  width: 300px;
}

.text-yellow {
  color: #F3A624;
}

#background-yellow {
  background: #F3A624;
}

.show-links {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.show-links a {
  color: #263895;
  background: #EBEBEC;
  padding: 10px 40px;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Nunito Sans';
}

.bottom {
  display: flex;
  gap: 50px;
  font-size: 20px;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 30px;
}

.socials img {
  height: 25px;
}

.intro-bg {
  background-image: url('../img/yellow-square.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.stories-bg {
  background-image: url('../img/blue-square.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  gap: 40px;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-nav a {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #263895;
}

.aside-nav a.active {
  color: #F3A624;
}

h3 {
  font-weight: 700;
  color: #002744;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 26px;
}

.main-content {
  /* display: flex;
  flex-direction: column; */
  padding: 50px 90px;
  /* gap: 40px; */
}

.main-content h1 {
  color: #263895;
}

.crumb-bread {
  display: flex;
  align-items: center;
  gap: 15px;
}

.crumb-bread a {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  color: #002744;
}

.crumb-bread span {
  font-weight: 400;
}

.main-content ul {
  font-size: 20px;
}

.main-content ul li {
  line-height: 30px;
}

.divider {
  height: 6px;
  width: 160px;
  background: #F3A624;
}

.btn-color {
  background: #263895;
  color: #FFFFFF;
}

label {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Nunito Sans', sans-serif;
  color: #002744;
}

@media screen and (max-width: 992px) {
  .intro-bg {
    background-position: left top;
  }

  .stories-bg {
    background-position: right center;
    background-image: url('../img/yellow-square.png');
  }
}

@media screen and (max-width: 768px) {
  .stories-bg {
    background-position: right bottom;
  }
}

@media screen and (max-width: 576px) {
  .img-1,
  .img-2 {
    width: 395px;
    height: 430.77px;
  }

  .bottom {
    flex-direction: column;
  }

  .main-content {
    padding: 50px 20px;
  }
}